<section>
  <header><span class="list-header">${list-header}</span></header>
  <ul class="list-container">
    <!-- Test <li> to build the structure and test css rules -->
    <li>
      <a href = "maps/:id">Best Brunch Spots in New York</a>
      <form action="/favs/1" method="POST">
        <button type="submit" class="fav-button">
          <i class="fa-solid fa-heart fav-icon" id="1"></i>
        </button>
      </form>
    </li>
    <li>
      <span>${Bad-Guy Locations}</span>
      <form action="/favs/${map_id}" method="POST">
        <button type="submit" class="fav-button">
          <i class="fa-solid fa-heart fav-icon" id="${map_id}"></i>
        </button>
      </form>
    </li>
  </ul>
</section>
