@import 'variables';

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: $background-color;
  header {
    width: 100%;
    justify-content: center;
    nav {
      display: flex;
      flex-direction: row;
      height: 5rem;
      width: 100%;
      background: $nav-color;
    }
  }
}

