@import 'variables';

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: $background-color;
  font-family: $body-font;

  & > header {
    width: 100%;
    display: flex;
    flex-direction: column;

    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 8vh;
      width: 100%;
      background: $nav-color;

      #logo {
        color: white;
        font-size: 3rem;
        font-family: $logo-font;
        margin: 1em;
      }

    }

    #new-map > form {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background: $new-map;

      & > * {
        margin: 0.5em;
      }

      input {
        width: 25vw;
      }
    }
  }

  & > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    section {
      margin: 2.5vh;
      border: solid navy 1px;

      header {
        width: 60vh;
        max-width: 60vh;
        display: flex;
        justify-content: center;
        border: solid red 1px;
        span {
          font-size: 1.5rem;
          margin: 1rem;
        }
      }

      ul {
        display: flex;
        flex-direction: column;

        li {
        display: flex;
        flex-direction: row;
        align-items: center;
        }
      }
    }
  }

  #map-container {
    height: 85vh;
    width: 85vh;
    line-height:85vh;
  }
}
